<div class="main-content">
  <h1>MyStore Chat</h1>
  <div class="container">
    <input id="chatInput" type="text" placeholder="Write your message"/>
    <div id="chatBox"></div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>