<h1>Chat</h1>
<div class="chat">
  <input id="chatInput" type="text" placeholder="Write your message"/>
  <div id="chatBox"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>