<h1>Real Time Products</h1>

<div class="form-container">
  <h3>Create product</h3>
  <form class="form-create" id="form">
    <input id="title" name="title" type="text" placeholder="Title"/>
    <input id="description" name="description" type="text" placeholder="Description"/>
    <input id="code" name="code" type="text" placeholder="Code"/>
    <input id="price" name="price" type="number" placeholder="Price" />
    <input id="stock" name="stock" type="number" placeholder="Stock" />
    <input id="category" name="category" type="text" placeholder="Category"/>
    <input id="thumbnails" name="thumbnails" type="text" placeholder="Thumbnails"/>
    <label for="status">Status:</label>
    <select name="status" id="status">
      <option value="true">Available</option>
      <option value="false">Unavailable</option>
    </select>
    <span></span>
    <button class="form__btn" type="submit">Add product</button>
  </form>
</div>
<div id="box" class="grid"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>