<form class="register" action="/api/sessions/register" method="post">
  <h1>Register</h1>
  <input id="first_name" type="text"  name="first_name" placeholder="First name" required>
  <input id="last_name" type="text"  name="last_name" placeholder="Last name" required>
  <input id="email" type="email" name="email" placeholder="Email" required>
  <input id="password" type="password"  name="password" placeholder="Password" required>
  <input id="confirmPassword" type="password"  name="confirmPassword" placeholder="Confirm password" required>
  
  <button type="submit">Sign up</button>

  <p>Have an account? <a href="/login">Log in</a></p>
  <a href="/api/sessions/github">Sign up using GitHub</a>
</form>