<h1>Reset password</h1>

<form class="login" action="/api/auth/reset-password?token={{token}}" method="post">
  <p>Set your new password</p>
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirmPassword" placeholder="Confirm password">
  <button type="submit">Reset password</button>
</form>
