<h1>Recover</h1>

<form class="login" action="/api/auth/sendRecovery" method="post">
  <p>Enter your email below to receive recovery link</p>
  <input type="email" name="email" placeholder="email">
  <button type="submit">Send recovery link</button>
</form>
