.cart {
  box-sizing: border-box;
  width: min(100%, 600px);
  padding: 1rem 2rem;
  margin: 1rem auto;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 3px 6px 3px #eee;
}

.cart--title {
  text-align: left;
}

.cart--id {
  font-size: 0.825rem;
  font-weight: lighter;
  color: #ccc;
}

.cart--card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.cart--card__info {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  box-sizing: border-box;
  color: #333;
}

.cart__single-product {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border-bottom: 2px solid #ddd;
}

.cart__btn {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  background-color: #fb3;
}

.cart--card__product-image {
  display: block;
  margin: 0 auto;
  margin: 0 0.5rem;
  width: min(120px, 100%);
  box-sizing: border-box;
  padding-right: 4px;
  justify-self: center;
  align-self: center;
}

.cart--price {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  font-weight: 100;
  text-align: right;
  border-top: 1px solid #ddd;
}

.purchase-btn {
  height: auto;
  width: 100%;
  display: block;
  padding: 1rem;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fb3;
}

.remove-btn {
  display: block;
  padding: 0 1rem;
  width: fit-content;
  margin-top: 1rem;
}
