.chat {
  display: flex;
  flex-direction: column;
  width: min(100%, 480px);
  margin: 0 auto;
}

#chatInput {
  padding: 0.625rem 1rem;
  font-size: 1rem;
  border: 0;
  box-shadow: 0 3px 3px 2px #eee;
  /* box-shadow: inset -2px -2px 8px 2px #eee; */
  border-radius: 1rem;
}

#chatInput:focus {
  outline: 2px solid #ddd;
}

#chatBox {
  margin-top: 1rem;
  padding: 1rem;
  /* border: 1px solid #ddd; */
  border-radius: 1rem;
  box-shadow: 0 3px 3px 2px #eee;
  /* box-shadow: inset -2px -2px 8px 2px #eee; */
}

#chatBox > p {
  margin: 4px auto;
}
