@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat&display=swap");

* {
  font-family: "Segoe UI", sans-serif;
  font-weight: normal;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Chakra Petch", sans-serif;
}

.title {
  margin: 1rem auto;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}

body {
  margin: 0;
}

nav {
  width: 100%;
  background: #0071DC;
  display: flex;
  justify-content: center;
}

nav > section,
section > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > section {
  width: 1200px;
}

.logo {
  margin-left: 1rem;
  height: 40px;
}

.menu {
  align-items: center;
  display: flex;
}

.menu > li {
  list-style: none;
  margin-right: 12px;
}

.search {
  display: flex;
  width: min(480px, 90%);
  margin: 0 auto;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

.filters {
  display: flex;
  flex-direction: column;
  width: min(480px, 90%);
  margin: 0 auto;
  text-align: center;
}

.filters > input,
.filters > select {
  margin: 4px auto;
  width: 100%;
}

#query, #searchBtn {
  display: block;
}

option {
  color: #222;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 0.8rem;
}

form > input {
  margin-bottom: 4px;
  border: solid 1px #aaaaaa;
  background: #eeeeee;
}

form > button {
  margin-top: 20px;
}

a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  display: block;
  margin-bottom: 1.5rem;
}

button:hover {
  cursor: pointer;
}

.main-content {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 100vh;
}

.container {
  padding: 1rem;
  position: relative;
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.form-container {
  margin: 0 auto 2rem auto;
  width: 50%;
  padding: 0 2rem;
  border-radius: 0.6rem;
  background: #ffffff;
  border: solid 2px #33333333;
  box-shadow: 0px 4px 0 2px #33333333;
}

.card {
  text-align: center;
  display: grid;
  place-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: solid 2px #33333333;
}

.card > * {
  margin: 0.5rem auto;
}

.containter > .card {
  text-align: center;
}

.product__image {
  place-self: center;
  height: 60px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-container {
    width: 70%;
  }
}

@media (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
  }
  #products {
    display: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.pagination > a {
  margin: 0 1rem;
  color: #222;
}

.cart {
  margin: 1rem auto;
  padding: 2rem;
  background-color: #eeeeee;
}