<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <section>
        <a href="/">
          <img class="logo" src="/logo.svg" alt="" />
          <h1>My Store</h1>
        </a>
        <div class="menu">
          <li><a href="/">Productos</a></li>
          <li><a href="/realtimeproducts">RealTimeProducts</a></li>
          <li><a href="/"><img height="24px" src="/cart.svg" alt="cart"></a></li>
        </div>
      </section>
    </nav>
    {{{body}}}
  </body>
</html>