<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/global.css">
    {{#if style}}
    <link type="text/css" rel="stylesheet" href="/css/{{style}}">
    {{/if}}
    <title>{{title}}</title>
  </head>
  <body>
    <nav>
      <section class="navbar">
        <a href="/">
          <span class="logo"></span>
          <h1 class="title">MyTechStore</h1>
        </a>
        <div class="menu">
          <li id="products"><a href="/">Productos</a></li>
          <li><a href="/chat">Chat</a></li>
          <li><a href="/realtimeproducts">Real Time</a></li>
          <li><a href="/profile"><img height="24px" src="/img/user.svg" alt="cart"/></a></li>
          <li><a href="/carts"><img height="24px" src="/img/cart.svg" alt="cart"/></a></li>
        </div>
      </section>
    </nav>
    <div class="main-content">
      {{{body}}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>